
$red0: var(--red0);
$red2: var(--red2);
$red4: var(--red4);

$blue1: var(--blue1);
$blue3: var(--blue3);
$blue4: var(--blue4);
$black4: var(--black4);

.settings {
  z-index: 20;
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: $red2;
    color: $red0;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $red0;
      color: $red2;
    }
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    max-width: 500px;
    // max-height: 500px;
    gap: 10px;
    .img {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: red;

      img {
        object-fit: contain;
        max-width: 100px;
        border-radius: 50%;
      }
    }

    button {
      flex: 2;
      width: 100%;
      max-width: 180px;
      background-color: $red2;
      color: $red0;
      border: 1px solid $red2;
      padding: 15px 15px 15px 15px;
      border-radius: 15px;


      &:hover {
        background-color: $red0;
        color: $red2;
        border: 1px solid $red2;
        // box-shadow: inset 400px 0 0 0 $blue3;
      }
    }

    .card {
      flex: 3;
      // background-color: green;
      // border: 1px solid $blue1;

      .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0px 10px;

        input {
          max-width: 400px;
          font-size: 14px;
          padding: 0px 0px 3px 2px;
          margin: 5px;
          border: none;
          border-bottom: 1.5px solid $red2;
          background-color: transparent;
          color: black;
        }
      }
    }
  
  }
}
