.settings {
  position: absolute;
  display: flex;
  // background-color: red;
  z-index: 10;
  height: 100%;
  width: 100%;
}
  
.settings h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #ffffff;
}
  