node_modules/
venv/
__pycache__/
devenv/
*/out/
/frontend/out/
/backend/pong/rest/static/rest/images/users_profiles/*
!/backend/pong/rest/static/rest/images/users_profiles/profile.jpg
/containers/nginx/app/