.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #282c34;
  color: #ffffff;

  canvas {
    display: none;

    
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
  }

  button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: #45a049;
    }
  }
}