.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--red0);

  #center {
    background: no-repeat center/cover;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 60px;

    .user-card {
      cursor: pointer;
      /* width: 30%; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .name {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /* For screens 620px and up */
      @media (min-width: 620px) {
        img {
          bottom: -30%;
          width: 100%;
          max-width: 250px;
          border-radius: 15px;
          border: 2px solid var(--blue4);
        }
      }

      /* For screens smaller than 620px */
      @media (max-width: 620px) {
        img {
          /* position: absolute; */
          /* width: 30vw; */
          max-width: 30vw;
          position: relative;
          border-radius: 15px;
          border: 2px solid var(--blue4);
        }
      }
    }

    /* For screens 620px and up */
    @media (min-width: 620px) {
      .user-card {
        flex-direction: column;
      }
    }

    /* For screens smaller than 620px */
    @media (max-width: 620px) {
      .user-card {
        flex-direction: row;
      }
    }
  }

  /* For screens 620px and up */
  @media (min-width: 620px) {
    #bottom {
      flex: 2;
    }
  }

  /* For screens smaller than 620px */
  @media (max-width: 620px) {
    #bottom {
      flex: 4;
    }
  }

  #bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

    @media (max-width: 620px) {
      #games {
        flex-direction: column;
      }
    }

    #games {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        font-weight: bold;
      }

      #history {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* border-inline: 1px solid var(--blue4); */

        #title {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 20px;

          svg {
            width: 20px;
            height: auto;
          }
        }

        .children {
          display: flex;

          .child {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: bold;

            o {
              color: var(--red2);
            }
          }
        }
      }
    }

    #friends {
      flex: 2;
      display: flex;

      @media (min-width: 500px) and (max-width: 1024px) {
        .inner {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: 750px) {
        .inner {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @media (min-width: 1000px) {
        .inner {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      @media (min-width: 1250px) {
        .inner {
          grid-template-columns: repeat(5, 1fr);
        }
      }

      @media (min-width: 1500px) {
        .inner {
          grid-template-columns: repeat(6, 1fr);
        }
      }

      @media (min-width: 1750px) {
        .inner {
          grid-template-columns: repeat(7, 1fr);
        }
      }

      @media (min-width: 2000px) {
        .inner {
          grid-template-columns: repeat(8, 1fr);
        }
      }

      .inner {
        flex: 1;
        /* background-color: red; */
        display: grid;

        .card {
          display: flex;
          justify-content: center;
          max-height: 150px;
          .content {
            /* display: flex; */
            /* flex-direction: column; */
            /* align-items: center; */
            /* border: 1px solid black; */

            .up {
              /* width: 100%; */
              /* flex: 3; */
              /* display: flex; */
              /* justify-content: center; */
              /* align-items: center; */
              /* flex-direction: column; */

              img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                /* border: 1px solid #ccc; */
                /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
              }
            }

            .down {
              /* width: 100%; */
              /* flex: 1; */
              display: flex;

              span {
                /* flex: 1; */
                /* display: flex; */
                /* justify-content: center; */
                /* align-items: center; */
                /* border-top: 1px solid; */
                cursor: pointer;
                svg {
                  width: 20%;
                }
              }
            }
          }
        }
      }
    }
  }
}
