@use "../main.scss" as global;

$red0: var(--red0);
$red2: var(--red2);

$blue1: var(--blue1);
$blue3: var(--blue3);
$blue4: var(--blue4);

// #div1 {
//   position: relative;
//   width: 50%;
//   height: 200px;
//   background: red;
//   z-index: 2;
// }
// #div2 {
//   position: relative;
//   width: 50%;
//   height: 200px;
//   background: yellow;
//   z-index: 1;
// }
// #image {
//   position: absolute;
//   bottom: -20%;
//   left: 35%;
//   z-index: 4;
//   width: 30%;
//   height: 30%;
//   background: green;
// }

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $red0;
  .navbar {
    z-index: 4;
  }

  #center {
    background-image: url("/assets/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 2;
    .user-card {
      // background-color: green;
      width: 30%;
      z-index: 4;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // text-align: center;
      // height: 100%;
      img {
        position: absolute;
        bottom: -30%;
        width: 100%;
        max-width: 250px;
        border-radius: 15px;
        border: 2px solid $blue4;
      }
      h3 {
        position: absolute;
        bottom: -40%;
      }
    }
  }
  #bottom {
    // background-color: red;
    flex: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

    #games {
      // position: relative;
      // top: 22%;
      flex: 1;
      // background-color: green;
      display: flex;
      // gap: 10px;
      justify-content: center;
      align-items: center;
      h4 {
        font-weight: bold;
      }

      #history {
        flex: 1;
        display: flex;
        flex-direction: column;
        // background-color: red;
        gap: 10px;
        border-left: 1px solid $blue4;
        border-right: 1px solid $blue4;

        #title {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 20px;
          svg {
            width: 20px;
            height: auto;
            // height: 10px;
          }
        }

        .children {
          display: flex;
          flex-direction: row;

          .child {
            flex: 1;
            display: flex;
            flex-direction: column;
            // background-color: aquamarine;
            // border: 2px solid;
            gap: 10px;
            font-weight: bold;
            o {
              color: $red2;
            }
          }
        }
      }
    }
    #friends {
      flex: 1;
      display: flex;
      // position: relative; /* Make this element the positioning context */
      // background-color: blue;
      flex-direction: row;
      .container{
        display: flex;
        max-height: 200px;

        .carousel-btn {
          width: 40px;
          height: 200px;
          position: absolute;
          background-color: transparent;
          color: transparent;
          border: none;
          cursor: pointer;
          z-index: 10;
          font-size: 1.5rem;
          font-weight: bold;
          user-select: none;
          transition: background-color 1s ease;
          &:hover {
            background-color: rgba(255, 255, 255, 1);
            color: black;
            transition: color 1s ease;
          }
        }
  
        .left {
        }
  
        .right {
          right: 0px; /* Adjust position from the right edge */
        }
  
        .center {
          align-items: center;
          display: flex;
          flex-direction: column;
  
          .wrapper {
            display: flex;
            overflow: hidden;
            height: 100%;
  
            .inner {
              display: flex;
              .card {
                display: flex;
                justify-content: center;
                // margin: 25px;
                // background-color: green;
                border: 1px solid white;
                width: 20vw;
                .content {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .up
                  {
                    width: 100%;
                    flex: 3;
                    img {
                      width: 100px; /* Set a fixed width */
                      height: 100px; /* Ensure height matches the width */
                      border-radius: 50%; /* Makes the image a circle */
                      object-fit: cover; /* Ensures the image is cropped without distortion */
                      border: 2px solid #ccc; /* Optional: Add a border around the image */
                      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better aesthetics */
                    }
                  }
                  .bottom{
                    width: 100%;
                    flex: 1;
                    display: flex;
                    span{
                      flex: 1;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border: 1px solid;
                    }
                  }
  
                }
              }
            }
          }
        }
      }

      
    }
  }
}
