/* Small screens (e.g., smartphones) */

.navbar {
  button {
    background-color: transparent;
  }
  div {
    #login-btn {
      background-color: var(--blue0);
      color: var(--blue3);
      border: 1px solid var(--blue3);

      &:hover {
        background-color: var(--blue3);
        color: var(--blue0);
      }
    }

    #signup-btn {
      background-color: var(--blue3);
      color: var(--blue0);
      border: 1px solid var(--blue3);
      &:hover {
        background-color: var(--blue0);
        color: var(--blue3);
      }
    }
  }

  .search-loop div{
    cursor: pointer;
    background-color: var(--red0);
    color: var(--black4);
    border: 1px solid burlywood;

    &:hover{
      background-color: burlywood;
      color: white;
    }
  }
}

@media (max-width: 650px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    img {
      height: 100%;
    }

    #logo {
      display: none;
    }

    input {
      flex: 4;
      border: none;
      padding: 10px 10px;
      background-color: transparent;
    }

    .show-navbar {
      width: 30px;
      flex: 1;
    }

    .search-loop {
      left: 150px;
      top: 50px;
      position: absolute;
      display: flex;
      flex-direction: column;

      div {
        flex: 1;
        width: 400px;

        display: flex;
        align-items: center;
        padding: 5px 10px;
      }
    }

    div {
      width: 100%;
      flex: 1;
      max-width: 280px;
      right: 0;
      display: flex;
      flex-direction: column;
      /* top: 50px; */

      button {
        width: 100%;
        padding: 20px;
        border: 1px solid var(--red0);
      }
    }
    .toogle-bar-show {
      top: 50px;
      right: 0;
      display: block;
      position: absolute;
      transition: right 1.2s ease-out;
    }

    .toogle-bar-hidden {
      /* top: 50px; */
      /* right: -300px; */
      display: none;
      /* position: absolute; */
      transition: right 1.2s ease-out;
    }
  }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 651px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    width: 100vw;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    gap: 40px;

    img {
      height: 100%;
    }

    #logo {
      height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
      }
    }

    input {
      flex: 1;
      border: none;
      padding: 5px 5px;
      background-color: transparent;
      font-size: 18px;
    }

    .show-navbar {
      display: none;
    }

    .search-loop {
      left: 150px;
      top: 50px;
      position: absolute;
      display: flex;
      flex-direction: column;

      div {
        flex: 1;
        width: 400px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
      }
    }

    div {
      display: flex;
      gap: 10%;
      padding: 10px 0;

      button {
        flex: 1;
        width: 80px;
        border-radius: 8px;
      }
    }
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1025px) {
  .navbar {
    display: flex;
    width: 100vw;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    gap: 40px;

    img {
      height: 100%;
    }

    #logo {
      height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
      }
    }

    input {
      flex: 1;
      border: none;
      padding: 10px 10px;
      background-color: transparent;
      font-size: 18px;
    }

    .show-navbar {
      display: none;
    }

    .search-loop {
      left: 150px;
      top: 50px;
      position: absolute;
      display: flex;
      flex-direction: column;

      div {
        flex: 1;
        width: 400px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
      }
    }

    div {
      display: flex;
      gap: 10%;
      padding: 10px 0;

      button {
        flex: 1;
        width: 80px;
        border-radius: 8px;
      }
    }
  }
}
