.chat {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  margin-top: 50px;

  & .left {
    background-color: aqua;
    flex: 1;
    display:  flex;
    flex-direction: column;

    .up {
      background-color: red;
      flex:  1;
      display:  flex;

      .create-group {
        background-color: brown;
        flex: 1;
        display:  flex;
        align-items: center;
        justify-content: center;

        h4 {
          font-size: 20px;
          font-weight: bold;

        }
      }
      
      
    };
    .down {
      background-color: blue;
      flex:  10;
    };
  }

  & .right {
    background-color: rgb(50, 100, 58);
    flex: 3;
    display:  flex;

    .up {

    };
    .down {

    };
  }
}
