@use "../../main.scss" as global;

$red0: var(--red0);
$white: var(--blue0);
$blue: var(--blue3);

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;

  position: fixed;
  top: 0;
  gap: 40px;

  img{
    height: 100%;
  }

  #logo {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    span{
      display: flex;
      // justify-content: center;
      align-items: center;
    }
  }
  input {
    flex: 1;
    border: none;
    padding: 10px 10px;
    background-color: transparent;
    // font-weight: bold;
    font-size: 18px;
  }

  if {
    // background-color: red;
    display: flex;
    gap: 10%;
    padding: 10px 0;

    button {
      flex: 1;
      width: 80px;
      border-radius: 8px;
    }
    #login-btn {
      @include global.button-styles($blue, $white);
    }

    #signup-btn {
      @include global.button-styles($white, $blue);
      border: 1px solid $blue;

      &:hover {
        border: 1px solid $blue;
      }
    }
  }
}
