.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #282c34;
  color: #ffffff;

  button {
    height: 40px;
    width: 120px;
    font-weight: bold;
    background-color: #3178c6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffffff;
      color: #3178c6;
    }
  }
}